/* mobile.css */

header #header-container {
	width: 100%;
}

header #logo-container {
	width: auto;
	margin: 0;
}

#logo-container img {
	height: 60px;
}

header #date-selector-container {
	width: auto;
}