<table id="menus-table">
	<tr id="logos">
		<td id="forbes-logo-container">
			<img src="images/forbes.png" />
		</td>
		<td id="whitman-logo-container">
			<img src="images/whitman.png" />
		</td>
		<td id="butlerwilson-logo-container">
			<img src="images/butlerwilson.png" />
		</td>
		<td id="rockymathey-logo-container">
			<img src="images/rockymathey.png" />
		</td>
	</tr>
	<tr id="meal">
		{% for menu in menus %}
			<td id="{{ menu }}-items">
				<ul>
					{% for entree in menus[menu] %}
						<li class="item {% for allergen in entree.allergens %} {{ allergen }}{% endfor %}" data-entreeid="{{ entree.key().id() }}">
							{{ entree.name }}
						</li>
					{% endfor %}
				</ul>
			</td>
		{% endfor %}
	</tr>
</table>
<img id="ajax-loader" src="/images/ajax-loader.gif" />
