{% extends 'templates/base.html' %}
{% block content %}
<div id="about-container">
	<h1>
		Who are we?
	</h1>
	<div class="person-container">
		<div class="photo-container">
			<div class="photo-frame">
				<img src="/images/sam.png">
			</div>
		</div>
		<div class="info-container">
			<h2>
				Sam Gavis-Hughson
			</h2>
			<ul>
				<li>BSE Computer Science</li>
				<li>Class of 2015</li>
				<li>Front-end development and design, Project Manager</li>
			</ul>
		</div>
	</div>
	<div class="person-container">
		<div class="photo-container">
			<div class="photo-frame">
				<img src="/images/will.png">
			</div>
		</div>
		<div class="info-container">
			<h2>
				Will Gwozdz
			</h2>
			<ul>
				<li>BSE Computer Science</li>
				<li>Class of 2014</li>
				<li>Database and scraping</li>
			</ul>
		</div>
	</div>
	<div class="person-container">
		<div class="photo-container">
			<div class="photo-frame">
				<img src="/images/david.png">
			</div>
		</div>
		<div class="info-container">
			<h2>
				David Lackey
			</h2>
			<ul>
				<li>BSE Computer Science</li>
				<li>Class of 2014</li>
				<li>Logic and connecting the dots</li>
			</ul>
		</div>
	</div>
	<div class="person-container">
		<div class="photo-container">
			<div class="photo-frame">
				<img src="/images/george.png">
			</div>
		</div>
		<div class="info-container">
			<h2>
				George Okeowo
			</h2>
			<ul>
				<li>BSE Computer Science</li>
				<li>Class of 2014</li>
				<li>Database and search</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}