{% extends 'templates/base.html' %}
{% block content %}
<div id="about-container">
	<div id="banner-container">
		<img id="banner" src="/images/about/splash.png">
	</div>
	<div id="features-container">
		<div id="splash-menus" class="splash-content">
			<h2>View menus from every dining hall on the same page</h2>
			<div class="image-container">
				<div class="photo-frame">
					<img src="/images/about/about1.png">
				</div>
			</div>
		</div>
		<div id="splash-search" class="splash-content">
			<div class="image-container">
				<div class="photo-frame">
					<img src="/images/about/about2.png">
				</div>
			</div>
			<h2>Search for your favorite menu items</h2>
		</div>
		<div id="splash-filter" class="splash-content">
			<h2>Filter by allergens</h2>
			<div class="image-container">
				<div class="photo-frame">
					<img src="/images/about/about3.png">
				</div>
			</div>
		</div>
		<div id="splash-ratings" class="splash-content">
			<div class="image-container">
				<div class="photo-frame">
					<img src="/images/about/about4.png">
				</div>
			</div>
			<h2>Rate your favorites</h2>
		</div>
		<div id="splash-mobile" class="splash-content">
			<h2>Check out princeton-eats.com on your iPhone</h2>
			<div class="image-container">
				<div class="photo-frame">
					<img src="/images/about/about5.png">
				</div>
			</div>
		</div>
	</div>
	<div id="team-container">
		<h1>
			The Team
		</h1>
		<div class="person-container">
			<div class="photo-container">
				<div class="photo-frame">
					<img src="/images/sam.png">
				</div>
			</div>
			<div class="info-container">
				<h2>
					Sam Gavis-Hughson
				</h2>
				<ul>
					<li>BSE Computer Science</li>
					<li>Class of 2015</li>
					<li>Front-end development and design, Project Manager</li>
				</ul>
			</div>
		</div>
		<div class="person-container">
			<div class="photo-container">
				<div class="photo-frame">
					<img src="/images/will.png">
				</div>
			</div>
			<div class="info-container">
				<h2>
					Will Gwozdz
				</h2>
				<ul>
					<li>BSE Computer Science</li>
					<li>Class of 2014</li>
					<li>Database and scraping</li>
				</ul>
			</div>
		</div>
		<div class="person-container">
			<div class="photo-container">
				<div class="photo-frame">
					<img src="/images/david.png">
				</div>
			</div>
			<div class="info-container">
				<h2>
					David Lackey
				</h2>
				<ul>
					<li>BSE Computer Science</li>
					<li>Class of 2014</li>
					<li>Logic and connecting the dots</li>
				</ul>
			</div>
		</div>
		<div class="person-container">
			<div class="photo-container">
				<div class="photo-frame">
					<img src="/images/george.png">
				</div>
			</div>
			<div class="info-container">
				<h2>
					George Okeowo
				</h2>
				<ul>
					<li>BSE Computer Science</li>
					<li>Class of 2014</li>
					<li>Database and search</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}