<!DOCTYPE html>
<html>
	<head>
    	<title>Princeton Eats</title>
    	<link type="text/css" rel="stylesheet" href="/css/main.css" />
    	<link type="text/css" rel="stylesheet" href="css/ui-lightness/jquery-ui-1.10.2.custom.css" />
      <link type="text/css" rel="stylesheet" href="css/jquery.qtip.min.css" />
  		<script src="/js/jquery.js"></script>
  		<script src="/js/jquery-ui-1.10.2.custom.min.js"></script>
      <script src="/js/jquery.qtip.min.js"></script>
    	<script src="/js/main.js"></script>
  	</head>
  	<body>
      <header>
        <div id="header-container">
          <div id="logo-container">
              <a href="/">
                <img src="/images/logo.png" alt="princeton eats logo" />
              </a>
          </div>
          <div id="search-container">
              <form id="search">
                <input type="text" name="search" placeholder="Search">
              </form>
          </div>
          <div id="advanced-search-container">
            <a href="/" id="advanced-search">Advanced Search</a>
          </div>
          <div id="filters-button-container">
            <button id="filters-button" type="button">Filters</button>
          </div>
        </div>
      </header>
      <section id="filters"> 
        <div id="filters-container">
          <form id="filters-form">
            <input type="checkbox" name="allergen" value="milk">Milk
            <input type="checkbox" name="allergen" value="eggs">Eggs
            <input type="checkbox" name="allergen" value="fish">Fish
            <input type="checkbox" name="allergen" value="shellfish">Shellfish/Crustacean
            <input type="checkbox" name="allergen" value="wheat">Wheat
            <input type="checkbox" name="allergen" value="soy">Soy
            <button id="clear-filters" type="button">Clear</button>
          </form>
        </div>
      </section>
  		<section class="main">
  			{% block content %}{% endblock %}
  		</section>
  		<footer></footer>
  	</body>
</html>