<!DOCTYPE html>
<html>
	<head>
    	<title>Princeton Eats</title>
    	<link type="text/css" rel="stylesheet" href="/css/main.css?r=2" />
    	<link type="text/css" rel="stylesheet" href="css/ui-lightness/jquery-ui-1.10.2.custom.css" />
      <link type="text/css" rel="stylesheet" href="css/jquery.qtip.min.css" />
  		<script src="/js/jquery.js"></script>
  		<script src="/js/jquery-ui-1.10.2.custom.min.js"></script>
      <script src="/js/jquery.qtip.min.js"></script>
    	<script src="/js/main.js"></script>
  	</head>
  	<body>
      <header>
        <div id="header-container">
          <div id="logo-container">
              <a href="/">
                <img src="/images/logo.png" alt="princeton eats logo" />
              </a>
          </div>
          <div id="search-container">
              <form id="search" action="/search">
                <input type="text" name="q" placeholder="Search">
              </form>
          </div>
          <div id="filters-button-container">
            <button id="filters-button" type="button">Filters</button>
          </div>
        </div>
      </header>
      <section id="filters"> 
        <div id="filters-container">
          <form id="filters-form">
            <input type="checkbox" name="allergen" id="milk" value="Milk">
            <label for="milk">Milk</label>
            <input type="checkbox" name="allergen" id="eggs" value="Eggs">
            <label for="eggs">Eggs</label>
            <input type="checkbox" name="allergen" id="fish" value="Fish">
            <label for="fish">Fish</label>
            <input type="checkbox" name="allergen" id="shellfish" value="Shellfish">
            <label for="shellfish">Shellfish/Crustacean</label>
            <input type="checkbox" name="allergen" id="wheat" value="Wheat">
            <label for="wheat">Wheat</label>
            <input type="checkbox" name="allergen" id="soybeans" value="Soybeans">
            <label for="soybeans">Soybeans</label>
            <button id="clear-filters" type="button">Clear</button>
          </form>
        </div>
      </section>
  		<section class="main">
  			{% block content %}{% endblock %}
  		</section>
  		<footer>
        <p>
          &copy; 2013 Sam Gavis-Hughson, Will Gwozdz, David Lackey, George Okeowo
        </p>
      </footer>
  	</body>
</html>