{% extends 'templates/base.html' %}
{% block content %}
<div id="content-container">
	<div id="controls">
		<div id="date-selector-container">
			<form method="get">
				<a class="date-control" data-action="prev">&lt;</a>
				<input type="text" id="datepicker" />
				<a class="date-control" data-action="next">&gt;</a>
			</form>
		</div>
		<div id="meal-selector-container">
			<form id="meal-selector-form" autocomplete="off">
				<table>
					<tr>
						<td>
							<input type="radio" name="meal" id="breakfast">
							<label for="breakfast">Breakfast</label>
						</td>
						<td>
							<input type="radio" name="meal" id="lunch">
							<label for="lunch">Lunch</label>
						</td>
						<td>
							<input type="radio" name="meal" id="dinner">
							<label for="dinner">Dinner</label>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div id="menus-container"></div>
</div>
{% endblock %}