{% extends 'templates/base.html' %}
{% block content %}
<div id="content-container">
	<div id="controls">
		<div id="date-selector-container">
			<form method="get">
				<select>
	  				<option value="1">Today</option>
  					<option value="2">Tomorrow</option>
  					<option value="3">The day after</option>
  					<option value="4">The day after that</option>
  				</select>
  				<input type="submit" value="Submit">
			</form>
		</div>
		<div id="meal-selector-container">
			<form>
				<input type="checkbox" name="meal" value="breakfast">Breakfast
				<input type="checkbox" name="meal" value="lunch">Lunch
				<input type="checkbox" name="meal" value="dinner">Dinner
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
	<div id="menus-container">
		<div id="butlerwilson-container" class="menu-container">
			<div class="dining-hall-container">
				<div class="logo-container">
					<img src="images/butler.png" alt="butler">
				</div>
				<div class="menu-items-container">
					<ul class="menu-items">
						{% for meal in menus['Butler & Wilson Colleges'] %}
							<li class="item">
								{{ meal }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
			<div id="forbes-container" class="menu-container">
			<div class="dining-hall-container">
				<div class="logo-container">
					<img src="images/forbes.png" alt="forbes">
				</div>
				<div class="menu-items-container">
					<ul class="menu-items">
						{% for meal in menus['Forbes College'] %}
							<li class="item">
								{{ meal }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
			<div id="rockymathey-container" class="menu-container">
			<div class="dining-hall-container">
				<div class="logo-container">
					<img src="images/rocky.png" alt="rocky">
				</div>
				<div class="menu-items-container">
					<ul class="menu-items">
						{% for meal in menus['Rockefeller & Mathey Colleges'] %}
							<li class="item">
								{{ meal }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
			<div id="whitman-container" class="menu-container">
			<div class="dining-hall-container">
				<div class="logo-container">
					<img src="images/whitman.png" alt="whitman">
				</div>
				<div class="menu-items-container">
					<ul class="menu-items">
						{% for meal in menus['Whitman College'] %}
							<li class="item">
								{{ meal }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}