{% extends 'templates/baseMobile.html' %}
{% block content %}
<div id="dining-hall-selector-container">
	<div id="butlerwilson-selector" class="dining-hall-selector">
		<img src="/images/butlerwilsonmobile.png" alt="butler wilson">
	</div>
	<div id="forbes-selector" class="dining-hall-selector">
		<img src="/images/forbesmobile.png" alt="forbes">
	</div>
	<div id="rockymathey-selector" class="dining-hall-selector">
		<img src="/images/rockymatheymobile.png" alt="rocky mathey">
	</div>
	<div id="whitman-selector" class="dining-hall-selector">
		<img src="/images/whitmanmobile.png" alt="whitman">
	</div>
</div>

<div id="hall"></div>
{% endblock %}