{% extends 'templates/base.html' %}
{% block content %}
<div id="content-container">
	<div id="controls">
		<div id="date-selector-container">
			<form method="get">
				<select>
	  				<option value="1">Today</option>
  					<option value="2">Tomorrow</option>
  					<option value="3">The day after</option>
  					<option value="4">The day after that</option>
  				</select>
  				<input type="submit" value="Submit">
			</form>
		</div>
		<div id="meal-selector-container">
			<form id="meal-selector-form">
				<input type="radio" name="meal" id="breakfast">
				<label for="breakfast">Breakfast</label>
				<input type="radio" name="meal" id="lunch">
				<label for="lunch">Lunch</label>
				<input type="radio" name="meal" id="dinner">
				<label for="dinner">Dinner</label>
			</form>
		</div>
	</div>
	<div id="menus-container">
		{% include 'templates/pieces/menus.html' %}
	</div>
</div>
{% endblock %}